@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: #f0f0f0;
}
